.App {
  text-align: center;
}

.Users,.Comments{
  display: grid;
  grid-template-columns: repeat(2, 25rem);
  gap: 2rem;
  grid-auto-rows: 20rem;
  justify-content: space-around;
  align-items: center;
}
.Posts{
  margin: auto;
  width: 80%;
  color: white;
}
.tof{
  width: 25rem;
}
.font{
  width: 5rem;
  height: 5rem;
}
